{% extends "base.html" %}

{% block title %}
About Wiretrip
{% endblock %}

{% block content %}
<div class="text-center">
    
    <div class="container">

        <div class="row">
            <p class="text-center fs-2">Wiretrip</p>
        </div>

        <div class="row">
            <p>This application is designed to calculate the types of electrical wires required to sustain the load within a building or a house and its quantity. the second part of the application will also calculate the circuit breakers required within that structure to safely manage and break the load of the circuits when needed</p>
        </div>

        <div class="row">
            <div class="col">

            </div>
        </div>

    </div>

</div>
{% endblock %}